.all-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-page-content {
  width: 95%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.add-row-container {
  width: 100%;
  margin-top: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.table-container {
  width: 100%;
}
